.searchForm {
  margin-left: 8px;
  display: inline-flex;
  gap: 8px;
}
.textInput,
.searchButton {
  padding: 8px;
}
.searchButton {
  background-color: blueviolet;
  color: white;
}
.searchButton:focus,
.searchButton:hover,
.searchButton:active {
  background-color: blue;
}
